<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fbfe5a79-27c6-42c8-a6c8-4299c9608dca/resourceGroups/PROJECTS/providers/Microsoft.Web/sites/FPTLibrary</ResourceId>
    <ResourceGroup>PROJECTS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fptlibrary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fptlibrary.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FPTLibrary</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FPTLibrary</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibolEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=libol.database.windows.net;Initial Catalog=Libol;Persist Security Info=True;User ID=libolserver;Password=121127aA@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Libol.Models.LibolEntities, Libol" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibolEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Libol.csdl|res://*/Models.Libol.ssdl|res://*/Models.Libol.msl;provider=System.Data.SqlClient;provider connection string="Data Source=libol.database.windows.net;Initial Catalog=Libol;Persist Security Info=True;User ID=libolserver;Password=121127aA@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>